<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>pastebucket :: error</title>
		<link rel="stylesheet" href="/assets/styles.css">
	</head>
	<body>
		<header>
			<h1><a href="{{params.url}}">pastebucket</a></h1>
			<hr>
		</header>
		<div class="error_description">
			<h2>{{params.code}}</h2>
			<p>{{params.description}}</p>
		</div>
	</body>
</html>
