<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>pastebucket :: error</title>
		<link rel="stylesheet" href="/s/pastebucket.css">
	</head>
	<body>
		<header>
			<h1><a href="{{site_url|safe}}">pastebucket</a></h1>
			<hr>
		</header>
		<main>
			<div class="error">
				<div class="error_number">{{error_number}}</div>
				<div class="error_description">{{error_description}}</div>
			</div>
		</main>
	</body>
</html>
