<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>pastebucket</title>
		<link rel="stylesheet" href="/s/pastebucket.css">
	</head>
	<body>
		<header>
			<h1><a href="{{site_url|safe}}">pastebucket</a></h1>
			<hr>
			<ul>
				<li>
					<code>
						<span class="no-select">&lt;command&gt;</span><span>&nbsp;| curl -T- {{site_url}}</span>
					</code>
				</li>
				<li>
					<code>
						<span class="no-select">-- or --</span>
					</code>
				</li>
				<li>
					<code>
						<span>curl -T- {{site_url}} &lt;&nbsp;</span><span class="no-select">&lt;file&gt;</span>
					</code>
				</li>
			</ul>
		</header>
		<form action="/" method="post">
			<textarea id="paste_area" autofocus name="paste" onkeydown="ctrl_enter(event);"></textarea>
			<p>
				<select name="lang">
					<option value="Plain Text">Plain Text
					{% for syntax in syntaxes %}
					<option value="{{syntax}}">{{syntax}}
					{% endfor %}
					</select>
			</p>
			<p><input id="paste_button" type="submit" value="submit"></p>
		</form>
		<script>
			function ctrl_enter(e) {
				if (e.keyCode == 13 && e.ctrlKey) {
					document.getElementById("paste_button").click();
				}
			}
		</script>
	</body>
</html>
