<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>pastebucket :: {{id}}</title>
		<link rel="stylesheet" href="/s/pastebucket.css">
		<link rel="stylesheet" href="/s/code.css">
	</head>
	<body>
		<header>
			<h1><a href="{{site_url|safe}}">pastebucket</a> :: <a href="/{{id}}">{{id}}</a></h1>
			<hr>
		</header>
		<nav>
			<ul>
				<li><a href="/{{id}}/raw">raw</a></li>
				<li><a href="/{{id}}/edit">edit</a></li>
				<li>{{syntax}}</li>
				<li>{{dt}}</li>
			</ul>
		</nav>
		<main>
			<div>
				{% for line in text_lines %}
				<div id="{{loop.index}}" onmouseover="document.getElementById('{{loop.index}}').firstElementChild.firstElementChild.style = 'color: red'" onmouseout="document.getElementById('{{loop.index}}').firstElementChild.firstElementChild.style = 'color: lightcoral'">
					<div class="index no-select" style="width: {{index_len}}ch"><a href="#{{loop.index}}">{{loop.index}}</a></div><div class="line">{{line|safe}}</div>
				</div>
				{% endfor %}
			</div>
		</main>
	</body>
</html>
